<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="akkaudom.oranat.th.ac.su.reg.homecarese">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    // ขออนุญาตดึงรูปภาพ
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            //จอเเนวตั้ง
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddPlanerActivity.AddPlannerActivity"
            android:parentActivityName=".HistoryMedicineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryMedicineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPlanerActivity.AddTherapyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPlanerActivity.AddSymptomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPlanerActivity.AddSugarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPlanerActivity.AddPressureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPlanerActivity.AddDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailMedicineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPlanerActivity.AddPatientActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ChartActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".PlannerActivity" />
        <activity android:name=".Tabs.MorningTab" />
        <activity android:name=".Tabs.AfternoonTab" />
        <activity android:name=".Tabs.EveningTab" />
        <activity android:name=".Tabs.BeforeBedTab" />
        <activity android:name=".Tabs.PressureTab" />
        <activity android:name=".DetailActivity" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".TestDetailActivity"></activity>
    </application>

</manifest>